h1 {
	border: .12em solid #1A3A00;
	text-align: center;
	color: white;
	background-color: black;
	font-family: Times; 
	font-size: 3em;
}

body {
	 background: url(images/toystory.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div{
	width: 50%;
	margin-left: 33em;
}

table {
	background-color: black;
	color: white;
	border: .25em solid #1A3A00;
	font-size: 1.5em;
}

td {
	padding-top: .4em;
}

form {
	font-size: 1em;
}

.well{
	color: #1A3A00;
	float: left;
	font-size: 1.5em;
}

#add{
	margin-left: 21.5em;
}

#delete{
	margin-left: .7em;
}

#update{
	margin-left: .7em;
}

#one{
	font-size: 1.4em;	
	border: .2em solid #1A3A00;
	border-radius: .6em;
}

#two{
	font-size: 1.4em;
	border: .2em solid #1A3A00;
	border-radius: .6em;
}

#three{
	font-size: 1.4em;
	border: .2em solid #1A3A00;
	border-radius: .6em;
}

